{% extends "template.html" %}
{% block action %}"/bookIssueReq"{% endblock %}
{% block function %}"Update"{% endblock %}
{% block fields %}
    <br>
    Issue ID
    <br>
    <input type="number" class="form-control" name="issue_id">
    <br>
    Book ID
    <br>
    <input type="number" class="form-control" name="book_id">
    <br>
    Book Name
    <br>
    <input type="text" class="form-control" name="bookname">
    <br>
    Member ID
    <br>
    <input type="number" class="form-control" name="member_id">
    <br>
    Member Name
    <br>
    <input type="text" class="form-control" name="membername">
    <br>
    Issue Date(YYYY-MM-DD)
    <br>
    <input type="text" class="form-control" name="issuedate">
    <br>
{% endblock %}
