<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename = 'css/table.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Issue ID</th>
                <th>Book ID</th>
                <th>Member ID</th>
                <th>Issue Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                {% for col in range(4) %}
                <td>{{ item[col] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

<!-- {% extends 'view.html' %}
{% block title %}Papers{% endblock %} -->
